@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing

@implements IDisposable

@inject NavigationManager NavigationManager
@inject IStringLocalizer<SharedResources> SharedLocalizer

<MudNavMenu>
    <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">@SharedLocalizer["Home"]</MudNavLink>
    <AuthorizeView>
        <Authorized>
            <MudNavLink Href="my-affairs" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.List">@SharedLocalizer["My affairs"]</MudNavLink>
            <MudNavLink Href="structures" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Domain">@SharedLocalizer["Structures"]</MudNavLink>
            <MudNavLink Href="Account/Manage" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Person">@context.User.Identity?.Name</MudNavLink>
            <PostForm Action="Account/Logout">
                <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                <button type="submit" class="mud-nav-link mud-ripple">
                    <MudIcon Icon="@Icons.Material.Filled.Logout" Color="Color.Info" Class="mr-3" /> @SharedLocalizer["Logout"]
                </button>
            </PostForm>
        </Authorized>
        <NotAuthorized>
            <MudNavLink Href="Account/Register" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Person">@SharedLocalizer["Register"]</MudNavLink>
            <MudNavLink Href="Account/Login" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Password">@SharedLocalizer["Login"]</MudNavLink>
        </NotAuthorized>
    </AuthorizeView>
</MudNavMenu>


@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose() => NavigationManager.LocationChanged -= OnLocationChanged;
}

